<!--
    Title: Assignment 8.3 - Capstone (Build)
    Arthur: Professor Krasso
    Date: 07/16/2023
    Description: contact us component html
-->

<div fxLayout="column">

  <div fxFlex>

    <mat-card>

      <mat-card-title>{{ title }}</mat-card-title>


      <mat-card-content>


        <div class="grid-container">


          <div>

            <mat-icon>navigation</mat-icon>

            <br />721 Elm St,<br />Kansas City, MO

          </div>

          <div>

            <mat-icon>phone</mat-icon>

            <br />Phone: (816)777-2121<br />Toll Free: (888)777-2121<br />Fax: (123)456-7859

          </div>

        </div>


      </mat-card-content>


    </mat-card>

  </div>

</div>
