/**
    Title: Assignment 8.3 - Capstone (Build)
    Arthur: Professor Krasso
    Date: 07/16/2023
    Modified By: Brooks
    Description: styles css
*/

.grid-container div {
  text-align: center;
}
