/**
    Title: Assignment 9.2 - Capstone (Delivery)
    Arthur: Professor Krasso
    Date: 07/23/2023
    Modified By: Brooks
    Description: styles css
*/

.grid-container div {
  text-align: center;
}
