<!--
    Title: Assignment 8.3 - Capstone (Build)
    Arthur: Professor Krasso
    Date: 07/16/2023
    Description: about component html
-->

<div fxLayout="column">

  <div fxFlex>

    <mat-card>

      <mat-card-title>{{ title }}</mat-card-title>


      <mat-card-content>

        <h2>Overview</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Ut porttitor leo a diam. Imperdiet proin fermentum leo vel orci. Neque convallis a cras semper auctor neque vitae tempus quam. Vestibulum morbi blandit cursus risus at ultrices mi tempus. Lorem mollis aliquam ut porttitor leo. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Massa enim nec dui nunc mattis. Tristique sollicitudin nibh sit amet commodo. Aliquam nulla facilisi cras fermentum odio. Lobortis mattis aliquam faucibus purus in massa tempor nec feugiat.</p>

        <h2>Schedule</h2>

        <p>Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet.</p>

      </mat-card-content>


    </mat-card>

  </div>

</div>
