<!--
    Title: Assignment 9.2 - Capstone (Delivery)
    Arthur: Professor Krasso
    Date: 07/23/2023
    Description: about component html
-->

<div fxLayout="column">

  <div fxFlex>

    <mat-card class="mat-elevation-z8">

      <mat-card-title>{{ title }}</mat-card-title>


      <mat-card-content>

        <h2>Overview</h2>

        <p>Welcome to our Bank! We strive to your neighborhood bank, trustworthy, reliable and at your service!</p>

        <h2>Schedule</h2>

        <table>
          <tr>
            <th>Day</th>
            <th>Hours</th>
          </tr>
          <tr>
            <td>Monday</td>
            <td>8:00am - 5:00pm</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>8:00am - 5:00pm</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>8:00am - 5:00pm</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>8:00am - 5:00pm</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>8:00am - 5:00pm</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>8:00am - 2:00pm</td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>-</td>
          </tr>
        </table>

      </mat-card-content>


    </mat-card>

  </div>

</div>
