<!--
    Title: Assignment 9.2 - Capstone (Delivery)
    Arthur: Professor Krasso
    Date: 07/23/2023
    Description: app component html
-->

<mat-toolbar class="mat-elevation-z8">

  <mat-toolbar-row>

    <div class="toolbar">

      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/about">About</button>
      <button mat-button routerLink="/contact-us">Contact Us</button>

    </div>

  </mat-toolbar-row>

</mat-toolbar>


<router-outlet></router-outlet>
