/**
    Title: Assignment 9.2 - Capstone (Delivery)
    Arthur: Professor Krasso
    Date: 07/23/2023
    Modified By: Brooks
    Description: styles css
*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Set body background color */
body {
  background-color: #740001;
}



/* Sets margin for card */
mat-card {
  margin: 5em;
}

/* Card title styles */
mat-card-title {
  text-align: center;
  color: #740001;
}

/* Creates two columns for pages when needed */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}
